name: push and pull request testing
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8]
        platform: [ubuntu-latest, macos-latest]
        use-mxnet: [mx-yes, mx-no]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
    - name: Pip upgrade
      run: python -m pip install --upgrade pip
    - name: Sockeye requirements
      run: pip install -r requirements/requirements.txt
    - name: Development requirements
      run: pip install -r requirements/requirements.dev.txt
    - name: Install MX2
      if: ${{ matrix.use-mxnet == 'mx-yes' }}
      run: pip install --pre -f https://dist.mxnet.io/python 'mxnet>=2.0.0b20210707,<=2.0.0b20210709' --upgrade 
    - name: Unit tests
      run: |
        pytest --version
        pytest
    - name: Pylint
      run: |
        pylint --version
        pylint --rcfile=.pylintrc sockeye
        pylint --rcfile=.pylintrc test --disable=E1102
    - name: MyPy
      run: |
        mypy --version
        mypy --ignore-missing-imports --follow-imports=silent @typechecked-files --no-strict-optional
    - name: Check manifest
      run: check-manifest --ignore sockeye/git_version.py
    - name: System tests
      run: |
        pytest test/system 
